@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

/* 
Fonte: Open Sans (google fonts)
Cores das fontes: #555, #111
Cor dos links: #fd8a24
Cor da top bar e da footer: #333 
*/

html, body{
    font-family: 'Open Sans', sans-serif;
}

#top-bar{
    height: px;
    background-color: #333;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#barra{
    background-color: orange;
    height: 5px;
}