@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

/* 
Fonte: Open Sans (google fonts)
Cores das fontes: #555, #111
Cor dos links: #fd8a24
Cor da top bar e da footer: #333 
*/

html, body{
    font-family: 'Open Sans', sans-serif;
}

#top-bar{
    height: px;
    background-color: #333;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#barra{
    background-color: rgb(255, 155, 0);
    height: 5px;
}

#header{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h1{
    margin-bottom: 20px;
    font-weight: bolder;
}

#sub{
    margin-bottom: 20px;
    font-size: .8em;
    color: #555;
}

#autor{
    color: #555;
    font-weight: 700;
    font-size: .4em;
}

#data{
    color: #555;
    font-weight: 100;
    font-size: 5px;
    margin-bottom: 20px;
}

.logo{
    padding: 5px;
    width: 16px;
}

hr{
    color: #555;
}